html,
    body {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 0;
      min-height: 180px;
      padding: 0;
      width: 380px;
    }
    h1 {
      font-family: 'Menlo', monospace;
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      color: #2f5876;
    }
    h2 {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 4px;
    }
    img {
      width: 30px;
    }
    .modal-header {
        align-items: center;
        border-bottom: 1px solid #dadada;
        height: 50px;
    }
    form {
        align-items: center;
        padding: 16px;
    }
    .logo {
      padding: 16px;
    }
    .logo-icon {
      vertical-align: text-bottom;
      margin-right: 12px;
    }
    .version {
      color: #444;
      font-size: 18px;
    }
    #total {
        font-family: 'Menlo', monospace;
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        color: #2f5876;
        text-align: center;
    }
    #total:hover {
        font-family: 'Menlo', monospace;
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        color: #2f7876;
        text-align: center;
        cursor: pointer;
    }
    select {
        padding-left: 10px;
        align-items: center;
        height: 25px;
        width: 320px;
        font-size: 15px;
    }
    #copyText {
        color: #444444;
        font-size: 10px;
        padding-bottom: 0;
        text-align: center;
        margin-top: 0;
    }